{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
<h1>Introduction</h1>
<p>Bees play a crucial role in the pollination system, significantly impacting the agricultural sector. As pollinators, bees facilitate the reproduction of flowering plants by transferring pollen from male to female flower parts. This process is essential for the production of fruits, seeds, and vegetables. In agriculture, the majority of crops rely on pollination, and bees are among the most effective pollinators. Their contribution enhances crop yields and promotes genetic diversity. The decline in bee populations poses a serious threat to global food security, as it could lead to reduced agricultural productivity. Sustainable farming practices and conservation efforts are imperative to safeguard these vital pollinators and ensure a resilient agricultural ecosystem.</p>

<h2>Goal of the Project</h2>
<p>Project Goal: Develop a comprehensive method to quantify risks to bee existence and pollination in agricultural ecosystems, identifying stressors like pesticides and habitat loss. Provide actionable insights for conservation and sustainable farming.</p>

<h2>Select a State to See the Probability of Bee Appearance</h2>
<form action="/bee-chance" method="post">
    <label for="state">Select State:</label>
    <select name="state" id="state">
        {% for value, state in states.items() %}
            <option value="{{ value }}">{{ state }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

{% if state_name and category is not none %}
    <h3>Bee Appearance Probability in {{ state_name }}</h3>
    <p>Chance of meeting bees: {{ category }}</p>
{% endif %}
{% endblock %}